<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    link(rel="icon" href="//s.weituibao.com//static/1499403040266/64.png")
    title etp,熵,元界,区块浏览,区块查询,交易查询
    if isDev
      link(href='/css/app.css', rel="stylesheet")
    else
      link(href=config.cdn + '/css/app_' + config.appVersion + '.css', rel="stylesheet")

  body
    <!--[if lt IE 10]>
    script(src='//s.weituibao.com/static/1482724534125/leie9.js')
    <![endif]-->

    <!--[if lte IE 11]>
    script(src='https://as.alipayobjects.com/g/component/??es6-shim/0.35.1/es6-sham.min.js,es6-shim/0.35.1/es6-shim.min.js')
    <![endif]-->

    #root !{bodyHtml || ''}
    script.
      window.__INITIAL_STATE__ = !{JSON.stringify(__INITIAL_STATE__ || {})}

    script(src=config.cdn + '/vendor/vendor_'+ config.vendorJsVersion +'.min.js')
    if isDev
      script(src='/js/app.dev.js')
    else
      script(src=config.cdn + '/js/app_' + config.appVersion + '.js')

    
